@charset "UTF-8";
/* импорт обнуляющий стиль */
/* обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 62.5%; /* 62.5% от 16px = 10px для rem */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Jost, sans-serif;
}

/* контейнер */
.container {
  max-width: 192rem;
  margin: 0 auto;
  /* потом уберу */
  border: 1px solid blue;
}

/* header */
.header {
  background: #141024;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
}
.header__logo {
  max-width: 22.8rem;
  height: auto;
}
.header__nav-list {
  display: flex;
  gap: 4rem;
}
.header__nav-item {
  font-size: 2rem;
}
.header__nav-link {
  color: #FFFFFF;
}
.header__phone {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.header__mobile {
  display: none;
}
.header__mobile-phone img, .header__mobile-nav img {
  max-width: 4.4rem;
  height: 4.4rem;
}
.header__mobile-nav {
  background: none; /* Убираем стандартный цвет кнопки */
  border: none; /* Убираем стандартную рамку кнопки */
}
@media (max-width: 320px) {
  .header__inner {
    padding: 0.8rem 1rem;
  }
  .header__logo {
    max-width: 13.6rem;
    height: auto;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__mobile {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.mobile-nav {
  display: flex; /* Всегда flex, чтобы можно было анимировать */
  opacity: 0; /* элемент полностью прозрачный*/
  pointer-events: none; /* Отключаем взаимодействие, когда меню скрыто */
  padding: 1rem 1rem;
  background: #141024;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Растягиваем на всю ширину */
  height: 100%; /* Растягиваем на всю высоту */
  z-index: 10; /* Чтобы меню перекрывало header */
  flex-direction: column;
  /* Ускоряем исчезновение пунктов меню*/
}
.mobile-nav__close {
  background: none;
  border: none;
  width: 4.4rem;
  height: 4.4rem;
  background: rgba(255, 255, 255, 0.01); /*посветлее,чтобы кнопка выделялась*/
  border-radius: 10px;
  box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(255, 255, 255, 0.05); /* Темнее снизу */
  align-self: flex-end;
  position: relative; /* для крестика */
  cursor: pointer;
}
.mobile-nav__close::before, .mobile-nav__close::after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 0.2rem;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform-origin: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.mobile-nav__close::before {
  transform: translate(-50%, -50%);
}
.mobile-nav__close::after {
  transform: translate(-50%, -50%);
}
.mobile-nav--open .mobile-nav__close::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg); /* Поворот при появлении */
  transition-delay: 0.2s;
}
.mobile-nav--open .mobile-nav__close::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-45deg); /* Поворот при появлении */
  transition-delay: 0.2s;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  width: 100%; /* Растягиваем на всю ширину */
  height: 100%;
  flex: 1;
  gap: 4rem;
}
.mobile-nav__list a {
  color: #FFFFFF;
}
.mobile-nav__item {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
  opacity: 0; /* Изначально пункты не видны */
  transform: translateY(2rem); /* Смещаем вниз на 20px */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Анимируем появление пунктов меню */
}
.mobile-nav--open {
  opacity: 1;
  pointer-events: auto; /* Включаем взаимодействие, когда меню открыто */
  transition: opacity 0.5s ease; /* Плавность при открытии без задержки */
}
.mobile-nav:not(.mobile-nav--open) {
  transition: opacity 0.5s ease 0.5s; /* Анимация при закрытии (с задержкой 0.2s), чтобы пункты списка пропали раньше фона меню  */
}
.mobile-nav--open .mobile-nav__item {
  opacity: 1; /* пункты меню видимы*/
  transform: translateY(0); /* Всплывают на исходное положение */
}
.mobile-nav__item a.mobile-nav__item--active {
  animation: increaseFontSize 1s ease forwards; /* Анимация работает независимо от .mobile-nav--open */
  position: relative; /* Чтобы элемент не исчезал сразу */
  z-index: 11; /* Чтобы элемент был поверх фона */
}
@keyframes increaseFontSize {
  0% {
    font-size: 3rem;
  }
  50% {
    font-size: 4rem;
  }
  100% {
    font-size: 3rem;
  }
}
.mobile-nav--open .mobile-nav__item:nth-child(1) {
  transition-delay: 0.1s;
}
.mobile-nav--open .mobile-nav__item:nth-child(2) {
  transition-delay: 0.2s;
}
.mobile-nav--open .mobile-nav__item:nth-child(3) {
  transition-delay: 0.3s;
}
.mobile-nav:not(.mobile-nav--open) .mobile-nav__item {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  background: #141024;
  min-height: 60rem;
}
.hero__inner {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative; /* Добавляем position: relative */
  min-height: 60rem; /* Устанавливаем высоту для десктопной версии */
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #FFFFFF;
}
.hero__title {
  font-size: 7rem;
  font-weight: 600;
}
.hero__subtitle {
  font-size: 2rem;
  max-width: 47.8rem;
  line-height: 160%;
}
.hero__button {
  background: #D52027;
  color: #FFFFFF;
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  max-width: 25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.hero__image {
  max-width: 78.3rem;
}
.hero__image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 320px) {
  .hero {
    min-height: 56.8rem;
  }
  .hero__inner {
    padding: 5rem 1rem;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 56.8rem; /* Устанавливаем высоту для мобильной версии */
  }
  .hero__content {
    text-align: center;
    gap: 2rem;
    z-index: 2;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtitle {
    font-size: 1.6rem;
    max-width: 25rem;
    line-height: 160%;
  }
  .hero__button {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    right: 1rem;
    max-width: none; /* Растягиваем на всю ширину с отступами */
    width: calc(100% - 2rem); /* Учитываем отступы слева и справа */
    font-size: 1.6rem;
    padding: 1.8rem 2rem;
  }
  .hero__image {
    position: absolute;
    z-index: 1;
    max-width: 27.3rem;
    height: auto;
    bottom: 4rem;
  }
}/*# sourceMappingURL=style.css.map */