
/* импорт обнуляющий стиль */
@import "../css/_null_style";

 body {
	font-family: Jost, sans-serif;
 }

/* контейнер */
.container {
	max-width: 192rem;
	margin: 0 auto;
	/* потом уберу */
	border: 1px solid blue;

}

/* header */
.header {
	background: #141024;

		&__inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 3rem 8rem;
		}

		&__logo {
			max-width: 22.8rem;
			height: auto;
		}

		&__nav {
		}

		&__nav-list {
			display: flex;
			gap: 4rem;
		}

		&__nav-item {
			font-size: 2rem;
		}

		&__nav-link {
			color: #FFFFFF;
		}

		&__phone {
			color: #FFFFFF;
			font-size: 3rem;
			font-weight: 600;
		}

// мобильная версия
		&__mobile {
			display: none;

		}

		&__mobile-phone img,
		&__mobile-nav img {
			max-width: 4.4rem;
			height: 4.4rem;
		}

		&__mobile-nav {
			background: none; /* Убираем стандартный цвет кнопки */
			border: none; /* Убираем стандартную рамку кнопки */
		}

		@media (max-width:320px){

			&__inner {
				padding: 0.8rem 1rem;
			}

			&__logo {
				max-width: 13.6rem;
				height: auto;
			}

			&__nav {
				display: none;
			}

			&__phone {
				display: none;
			}

			&__mobile {
				display: flex;
				gap: 1rem;
				align-items: center;
			}

		}
}

.mobile-nav {
	display: none;
	padding: 0.8rem 1rem;
	background: #141024;
	position: fixed;
	top: 0;
  	left: 0;
  	width: 100%; /* Растягиваем на всю ширину */
  	height: 100%; /* Растягиваем на всю высоту */
  	z-index: 10; /* Чтобы меню перекрывало header */
	flex-direction: column;

		&__close {
			background: none;
			border: none;
			width: 4.4rem;
			height: 4.4rem;
			background: rgba(255, 255, 255, 0.05); /*посветлее,чтобы кнопка выделялась*/
			border-radius: 10px;
			box-shadow: 
			0 -2px 2px rgb(255, 255, 255, 0.5), /* Ярче сверху */
			0 1px 2px rgba(255, 255, 255, 0.05); /* Темнее снизу */
			align-self: flex-end;
			position: relative; /* для крестика */
			cursor: pointer;
			
		}

// крестик
		&__close::before,
		&__close::after {
			content: '';
			position: absolute;
			width: 1.8rem; // Ширина линий
			height: 0.2rem; // Высота линий
			background-color: #FFFFFF; // Цвет линий
			top: 50%; // Центрирование по вертикали
			left: 50%; // Центрирование по горизонтали
			transform-origin: center; // Установка точки вращения в центр
		}

		&__close::before {
			transform: translate(-50%, -50%) rotate(45deg); // Поворот первой линии
		}

		&__close::after {
			transform: translate(-50%, -50%) rotate(-45deg); // Поворот первой линии
		}

		&__list {
			display: flex;
    		flex-direction: column;
			align-items: center; /* Центрируем по горизонтали */
			justify-content: center; /* Центрируем по вертикали */
			width: 100%; /* Растягиваем на всю ширину */
			height: 100%;
			flex: 1;
			gap: 4rem;
		}

		&__item {
			color: #FFFFFF;
			font-size: 3rem;
			font-weight: 600;
		}
// для открытия меню
		&__open {
			display: flex;
		}
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hero {
	background: #141024;
	min-height: 60rem;

		&__inner {
			padding-top: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5rem;
			position: relative; /* Добавляем position: relative */
    		min-height: 60rem; /* Устанавливаем высоту для десктопной версии */
			
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			color: #FFFFFF;
		}

		&__title {
			font-size: 7rem;
			font-weight: 600;
		}

		&__subtitle {
			font-size: 2rem;
			max-width: 47.8rem;
	
		}

		&__button {
			background: #D52027;
			color: #FFFFFF;
			font-size: 1.8rem;
			padding: 1.5rem 2rem;
			max-width: 25rem;
			border-radius: 0.5rem;
			cursor: pointer;
		}

		&__image {
			max-width: 78.3rem;
		}

		&__image img {
			max-width: 100%;
			height: auto;
		}

		@media (max-width:320px) {
			min-height:56.8rem;

			&__inner {
				padding: 5rem 1rem;
				flex-direction: column;
				justify-content: flex-start;
				min-height: 56.8rem; /* Устанавливаем высоту для мобильной версии */
			}

			&__content {
				text-align: center;
				gap: 2rem;
				z-index: 2;
			}

			&__title {
				font-size: 3rem;
			}

			&__subtitle {
				font-size: 1.6rem;
				max-width: 25rem;
				line-height: 160%;
	
			}

			&__button {
				position: absolute;
      		bottom: 4rem;
      		left: 1rem;
      		right: 1rem;
      		max-width: none; /* Растягиваем на всю ширину с отступами */
      		width: calc(100% - 2rem); /* Учитываем отступы слева и справа */
      		font-size: 1.6rem;
				padding: 1.8rem 2rem;
			}

			&__image {
				position: absolute;
				z-index: 1;
				max-width: 27.3rem;
				height: auto;
				bottom: 4rem;
			}
		}
	}

